@charset "ISO-8859-1";

body{
	background : white;
}


button{
	float:left;
	margin-right : 80%;
	margin-bottom : 20px;
}

#tabla1{
	float:left;
}

#tabla2{
	float:right;
}

#evTip{
	background : #0D8E9C !important;
}

th{
	background : #59BFBF;
}

td{
	background : #D4E6E6;
}
